/* Imports */
/* ================================================================= */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "./reset.css";

/* Color Palette */
/* ================================================================= */
:root{
    --main-font:'Press Start 2P', cursive;
    --main-color:#141414;
    --second-color:#FFFFFF;
    --brick-color1:#F362B1;
    --brick-color2:#B462F3;
    --brick-color3:#627AF3;
    --brick-color4:#63B1F9;
    --brick-color5:#62F39C;
    --brick-color6:#DFF362;
    --brick-color7:#F96363;
}

/* Body */
/* ================================================================= */
body{
    background-color:var(--second-color);
    font-family:var(--main-font);
}

/* Header */
/* ================================================================= */
header{
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 3vw;
    margin:10% 10% 0% 10%;
    width: 80vw;
    height:17vh;
    background-color:var(--main-color);
    color:var(--second-color);
}

/* Working Area */
/* ================================================================= */
.working-area{
display:flex;
justify-content: center;
flex-direction: column;
text-align: center;
z-index: 1;
margin:5% 10% 5% 10%;
width: 80vw;
height:80vh;
background-color:var(--main-color);
color:var(--second-color);
}

.game-area{
    display:flex;
    justify-content: center;
    text-align: center;
    z-index: 1;
    margin:5% 10% 5% 10%;
    padding-top: 5%;
    width: 80vw;
    height:80vh;
    background-color:var(--main-color);
    color:var(--second-color);
}
.first-row{
    display:flex;
    margin:0.4vw;
    z-index: 2;
    width:5vw;
    height:5vw;
    background-color:var(--brick-color1);
}

.second-row{
    display:flex;
    margin:0.4vw;
    z-index: 2;
    width:5vw;
    height:5vw;
    background-color:var(--brick-color1);
}

/* Footer */
/* ================================================================= */
footer{
    display:flex;
    justify-content: space-around;
    margin:0% 10% 10% 10%;
    font-size: 1vw;
    padding-top:5vw;
    width: 80vw;
    height:17vh;
    background-color:var(--main-color);
    color:var(--second-color);
}

.life{
    display:flex;
    justify-content: space-between;
}

.life-heart{
    width:3vw;
    height:3vw;
}
/* ================================================================= */